@using WholesaleShop.Models.Entities
@model IEnumerable<SalesInvoice>
@{
    ViewData["Title"] = "Index";
}

<h1>PurchaseInvoices</h1>
<div class="container">
    <div class="text-end">
        <a asp-controller="SalesInvoices" asp-action="Create" class="btn btn-outline-primary">Add New</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>InvoiceDate</th>
                <th>TotalAmount</th>
                <th>PaidAmount</th>
                <th>RaminingAmount</th>
                <th>Customer</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var Sales in Model)
            {
                <tr>
                    <td>@Sales.Id</td>
                    <td>@Sales.CreatedAt</td>
                    <td>@Sales.InvoiceDate</td>
                    <td>@Sales.TotalAmount</td>
                    <td>@Sales.PaidAmount</td>
                    <td>@Sales.RaminingAmount</td>
                    <td>@Sales.Customer?.Name</td>
                    <td>@Sales.Notes</td>
                    <td>
                        <a asp-action="Edit" asp-route-Uid="@Sales.Uid" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-Uid="@Sales.Uid" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

